@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F8991B;
  --secondary: #272e38;
  --thirth: #555b65;
  --input-color: #141618;
  --danger: #ff4d4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white
}

.active {
  @apply border-b-2 border-white;
}

.inactive {
  @apply border-b-2 border-transparent;
}